In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

C:\Users\gshik\Anaconda3\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\gshik\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.GK7GX5KEQ4F6UYO3P26ULGBQYHGQO7J4.gfortran-win_amd64.dll
C:\Users\gshik\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
  stacklevel=1)

In [2]:
order_data_engineered = pd.read_csv('data/Order_Data_Preprocess.csv', )
label_data=pd.read_csv("data/machine_learning_challenge_labeled_data.csv")

## Feature Engineering / Data Transformation

1. payment_id, platform_id, transmission_id - Nominal Categorical features <br>
     one hot encoding followed by taking sum at the customer level
<br>
<br>
2. order_hour, customer_order_rank - ordinal categorical features <br>
     min,  max, mode at customer level
<br>
<br>
3. voucher_amount  delivery_fee  amount_paid - continuos features <br>
   sum total and mean at customer level  
<br>
<br>
4. order_date - Various DateTime feature as shown in code<br>

In [3]:
print("\n")
print("----------- One hot encoding for Nominal Categorical features'-------------")
print("\n")

for c in ['payment_id', 'platform_id', 'transmission_id']:

    order_data_engineered= pd.get_dummies(order_data_engineered, columns=[c])

print(order_data_engineered.columns)
print("\n")
print(order_data_engineered.shape)

----------- One hot encoding for Nominal Categorical features'-------------


Index(['Unnamed: 0', 'customer_id', 'order_date', 'order_hour',
       'customer_order_rank', 'is_failed', 'voucher_amount', 'delivery_fee',
       'amount_paid', 'restaurant_id', 'city_id', 'payment_id_1491',
       'payment_id_1523', 'payment_id_1619', 'payment_id_1779',
       'payment_id_1811', 'platform_id_525', 'platform_id_22167',
       'platform_id_22263', 'platform_id_22295', 'platform_id_29463',
       'platform_id_29495', 'platform_id_29751', 'platform_id_29815',
       'platform_id_30135', 'platform_id_30199', 'platform_id_30231',
       'platform_id_30359', 'platform_id_30391', 'platform_id_30423',
       'transmission_id_212', 'transmission_id_1988', 'transmission_id_2020',
       'transmission_id_4196', 'transmission_id_4228', 'transmission_id_4260',
       'transmission_id_4324', 'transmission_id_4356', 'transmission_id_4996',
       'transmission_id_21124'],
      dtype='object')


(786547, 40)

In [4]:
# Dropping 'restaurant_id', 'city_id' as transforming these nominal variables can 
# lead to sparse dataset given too many categories

order_data_engineered.drop(['restaurant_id', 'city_id'], axis=1, inplace=True)

In [5]:
print("\n")
print("----------- Creating Date time features for order date-------------")
print("\n")

order_data_engineered['order_date'] = pd.to_datetime(order_data_engineered['order_date'],format='%Y-%m-%d')

order_data_engineered['year']=order_data_engineered['order_date'].dt.year 
order_data_engineered['month']=order_data_engineered['order_date'].dt.month 

order_data_engineered['dayofweek_num']=order_data_engineered['order_date'].dt.dayofweek  
order_data_engineered['dayofweek_name']=order_data_engineered['order_date'].dt.day_name()

order_data_engineered['weekend'] = np.where(order_data_engineered['dayofweek_name'].isin(['Sunday','Saturday']),1,0)

# once we have weekend column, we can drop of 'dayofweek_name'
order_data_engineered.drop('dayofweek_name', axis=1, inplace=True)

print(order_data_engineered.columns)
order_data_engineered.head()

print("\n")
print("----------- One hot encoding for Year, Month, dayofweek_num features-------------")
print("\n")

for c in ['year', 'month', 'dayofweek_num']:

    order_data_engineered= pd.get_dummies(order_data_engineered, columns=[c])
    
# once we have date time features, we can drop of 'order_date'
order_data_engineered.drop('order_date', axis=1, inplace=True)

print(order_data_engineered.columns)
order_data_engineered.head()

----------- Creating Date time features for order date-------------


Index(['Unnamed: 0', 'customer_id', 'order_date', 'order_hour',
       'customer_order_rank', 'is_failed', 'voucher_amount', 'delivery_fee',
       'amount_paid', 'payment_id_1491', 'payment_id_1523', 'payment_id_1619',
       'payment_id_1779', 'payment_id_1811', 'platform_id_525',
       'platform_id_22167', 'platform_id_22263', 'platform_id_22295',
       'platform_id_29463', 'platform_id_29495', 'platform_id_29751',
       'platform_id_29815', 'platform_id_30135', 'platform_id_30199',
       'platform_id_30231', 'platform_id_30359', 'platform_id_30391',
       'platform_id_30423', 'transmission_id_212', 'transmission_id_1988',
       'transmission_id_2020', 'transmission_id_4196', 'transmission_id_4228',
       'transmission_id_4260', 'transmission_id_4324', 'transmission_id_4356',
       'transmission_id_4996', 'transmission_id_21124', 'year', 'month',
       'dayofweek_num', 'weekend'],
      dtype='object')


----------- One hot encoding for Year, Month, dayofweek_num features-------------


Index(['Unnamed: 0', 'customer_id', 'order_hour', 'customer_order_rank',
       'is_failed', 'voucher_amount', 'delivery_fee', 'amount_paid',
       'payment_id_1491', 'payment_id_1523', 'payment_id_1619',
       'payment_id_1779', 'payment_id_1811', 'platform_id_525',
       'platform_id_22167', 'platform_id_22263', 'platform_id_22295',
       'platform_id_29463', 'platform_id_29495', 'platform_id_29751',
       'platform_id_29815', 'platform_id_30135', 'platform_id_30199',
       'platform_id_30231', 'platform_id_30359', 'platform_id_30391',
       'platform_id_30423', 'transmission_id_212', 'transmission_id_1988',
       'transmission_id_2020', 'transmission_id_4196', 'transmission_id_4228',
       'transmission_id_4260', 'transmission_id_4324', 'transmission_id_4356',
       'transmission_id_4996', 'transmission_id_21124', 'weekend', 'year_2015',
       'year_2016', 'year_2017', 'month_1', 'month_2', 'month_3', 'month_4',
       'month_5', 'month_6', 'month_7', 'month_8', 'month_9', 'month_10',
       'month_11', 'month_12', 'dayofweek_num_0', 'dayofweek_num_1',
       'dayofweek_num_2', 'dayofweek_num_3', 'dayofweek_num_4',
       'dayofweek_num_5', 'dayofweek_num_6'],
      dtype='object')

,Unnamed: 0,customer_id,order_hour,customer_order_rank,is_failed,voucher_amount,delivery_fee,amount_paid,payment_id_1491,payment_id_1523,...,month_10,month_11,month_12,dayofweek_num_0,dayofweek_num_1,dayofweek_num_2,dayofweek_num_3,dayofweek_num_4,dayofweek_num_5,dayofweek_num_6
0,0,000097eabfd9,19,1.0,0,0.0,0.000,11.46960,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,0000e2c6d9be,20,1.0,0,0.0,0.000,9.55800,0,0,...,0,0,0,0,0,0,0,1,0,0
2,2,000133bb597f,19,1.0,0,0.0,0.493,5.93658,0,0,...,0,0,0,0,0,0,0,0,0,1
3,3,00018269939b,17,1.0,0,0.0,0.493,9.82350,0,0,...,0,0,0,0,0,0,0,0,0,1
4,4,0001a00468a6,19,1.0,0,0.0,0.493,5.15070,0,0,...,0,0,0,0,1,0,0,0,0,0

In [6]:
print("\n")
print("----------- Aggregating Data at customet level with transformations-------------")
print("\n")

aggregation = dict.fromkeys(('payment_id_1491', 'payment_id_1523', 'payment_id_1619',
       'payment_id_1779', 'payment_id_1811', 'platform_id_525',
       'platform_id_22167', 'platform_id_22263', 'platform_id_22295',
       'platform_id_29463', 'platform_id_29495', 'platform_id_29751',
       'platform_id_29815', 'platform_id_30135', 'platform_id_30199',
       'platform_id_30231', 'platform_id_30359', 'platform_id_30391',
       'platform_id_30423', 'transmission_id_212', 'transmission_id_1988',
       'transmission_id_2020', 'transmission_id_4196', 'transmission_id_4228',
       'transmission_id_4260', 'transmission_id_4324', 'transmission_id_4356',
       'transmission_id_4996', 'transmission_id_21124', 'weekend', 'year_2015',
       'year_2016', 'year_2017', 'month_1', 'month_2', 'month_3', 'month_4',
       'month_5', 'month_6', 'month_7', 'month_8', 'month_9', 'month_10',
       'month_11', 'month_12', 'dayofweek_num_0', 'dayofweek_num_1',
       'dayofweek_num_2', 'dayofweek_num_3', 'dayofweek_num_4',
       'dayofweek_num_5', 'dayofweek_num_6'), 'sum')

aggregation2 = {'order_hour':['max', 'min'], 'customer_order_rank': ['max', 'min'],
                   'voucher_amount':['sum', 'mean'], 'delivery_fee':['sum', 'mean'], 'amount_paid':['sum', 'mean']}

aggregation.update(aggregation2)
customer_date_engineered = order_data_engineered.groupby('customer_id').agg(aggregation).reset_index()

# flatten MultiIndex columns
customer_date_engineered.columns = ['_'.join(col) for col in customer_date_engineered.columns.values]
customer_date_engineered.rename(columns = {list(customer_date_engineered)[0]: 'customer_id'}, inplace = True)

print(customer_date_engineered.shape)
print("\n")
print(customer_date_engineered.columns)
print("\n")
customer_date_engineered.head()

----------- Aggregating Data at customet level with transformations-------------


(245453, 63)


Index(['customer_id', 'payment_id_1491_sum', 'payment_id_1523_sum',
       'payment_id_1619_sum', 'payment_id_1779_sum', 'payment_id_1811_sum',
       'platform_id_525_sum', 'platform_id_22167_sum', 'platform_id_22263_sum',
       'platform_id_22295_sum', 'platform_id_29463_sum',
       'platform_id_29495_sum', 'platform_id_29751_sum',
       'platform_id_29815_sum', 'platform_id_30135_sum',
       'platform_id_30199_sum', 'platform_id_30231_sum',
       'platform_id_30359_sum', 'platform_id_30391_sum',
       'platform_id_30423_sum', 'transmission_id_212_sum',
       'transmission_id_1988_sum', 'transmission_id_2020_sum',
       'transmission_id_4196_sum', 'transmission_id_4228_sum',
       'transmission_id_4260_sum', 'transmission_id_4324_sum',
       'transmission_id_4356_sum', 'transmission_id_4996_sum',
       'transmission_id_21124_sum', 'weekend_sum', 'year_2015_sum',
       'year_2016_sum', 'year_2017_sum', 'month_1_sum', 'month_2_sum',
       'month_3_sum', 'month_4_sum', 'month_5_sum', 'month_6_sum',
       'month_7_sum', 'month_8_sum', 'month_9_sum', 'month_10_sum',
       'month_11_sum', 'month_12_sum', 'dayofweek_num_0_sum',
       'dayofweek_num_1_sum', 'dayofweek_num_2_sum', 'dayofweek_num_3_sum',
       'dayofweek_num_4_sum', 'dayofweek_num_5_sum', 'dayofweek_num_6_sum',
       'order_hour_max', 'order_hour_min', 'customer_order_rank_max',
       'customer_order_rank_min', 'voucher_amount_sum', 'voucher_amount_mean',
       'delivery_fee_sum', 'delivery_fee_mean', 'amount_paid_sum',
       'amount_paid_mean'],
      dtype='object')

,customer_id,payment_id_1491_sum,payment_id_1523_sum,payment_id_1619_sum,payment_id_1779_sum,payment_id_1811_sum,platform_id_525_sum,platform_id_22167_sum,platform_id_22263_sum,platform_id_22295_sum,...,order_hour_max,order_hour_min,customer_order_rank_max,customer_order_rank_min,voucher_amount_sum,voucher_amount_mean,delivery_fee_sum,delivery_fee_mean,amount_paid_sum,amount_paid_mean
0,000097eabfd9,0,0,0.0,1.0,0,0,0,0,0,...,19,19,1.0,1.0,0.0,0.0,0.000,0.000,11.46960,11.46960
1,0000e2c6d9be,0,0,1.0,0.0,0,0,0,0,0,...,20,20,1.0,1.0,0.0,0.0,0.000,0.000,9.55800,9.55800
2,000133bb597f,0,0,1.0,0.0,0,0,0,0,0,...,19,19,1.0,1.0,0.0,0.0,0.493,0.493,5.93658,5.93658
3,00018269939b,0,0,1.0,0.0,0,0,0,0,0,...,17,17,1.0,1.0,0.0,0.0,0.493,0.493,9.82350,9.82350
4,0001a00468a6,0,0,1.0,0.0,0,0,0,0,0,...,19,19,1.0,1.0,0.0,0.0,0.493,0.493,5.15070,5.15070

In [7]:
print("\n")
print("----------- Merging Data with Labels-------------")
print("\n")

customer_date_engineered =  customer_date_engineered.merge(label_data, on = 'customer_id')

print(customer_date_engineered.shape)
print("\n")
print(customer_date_engineered.columns)
print("\n")

print("\n")
print("----------- Saving Engineered Dataset as 'customer_level_features'-------------")
print("\n")

customer_date_engineered.to_csv('data/customer_level_features.csv')

----------- Merging Data with Labels-------------


(245453, 64)


Index(['customer_id', 'payment_id_1491_sum', 'payment_id_1523_sum',
       'payment_id_1619_sum', 'payment_id_1779_sum', 'payment_id_1811_sum',
       'platform_id_525_sum', 'platform_id_22167_sum', 'platform_id_22263_sum',
       'platform_id_22295_sum', 'platform_id_29463_sum',
       'platform_id_29495_sum', 'platform_id_29751_sum',
       'platform_id_29815_sum', 'platform_id_30135_sum',
       'platform_id_30199_sum', 'platform_id_30231_sum',
       'platform_id_30359_sum', 'platform_id_30391_sum',
       'platform_id_30423_sum', 'transmission_id_212_sum',
       'transmission_id_1988_sum', 'transmission_id_2020_sum',
       'transmission_id_4196_sum', 'transmission_id_4228_sum',
       'transmission_id_4260_sum', 'transmission_id_4324_sum',
       'transmission_id_4356_sum', 'transmission_id_4996_sum',
       'transmission_id_21124_sum', 'weekend_sum', 'year_2015_sum',
       'year_2016_sum', 'year_2017_sum', 'month_1_sum', 'month_2_sum',
       'month_3_sum', 'month_4_sum', 'month_5_sum', 'month_6_sum',
       'month_7_sum', 'month_8_sum', 'month_9_sum', 'month_10_sum',
       'month_11_sum', 'month_12_sum', 'dayofweek_num_0_sum',
       'dayofweek_num_1_sum', 'dayofweek_num_2_sum', 'dayofweek_num_3_sum',
       'dayofweek_num_4_sum', 'dayofweek_num_5_sum', 'dayofweek_num_6_sum',
       'order_hour_max', 'order_hour_min', 'customer_order_rank_max',
       'customer_order_rank_min', 'voucher_amount_sum', 'voucher_amount_mean',
       'delivery_fee_sum', 'delivery_fee_mean', 'amount_paid_sum',
       'amount_paid_mean', 'is_returning_customer'],
      dtype='object')




----------- Saving Engineered Dataset as 'customer_level_features'-------------