In [1]:
import pandas as pd
import numpy as np

In [55]:
data=pd.read_csv("treated_loan_details.csv")

In [56]:
data.head()

,Unnamed: 0,ManagAgeui_APP,total_disbursement_amount,target,business_type_,business_type_Manufacturing,business_type_Services,business_type_Trading,business_activity_Job Work,business_activity_Job Work & Sales,...,hub_id_91,hub_id_92,hub_id_93,hub_id_94,hub_id_95,hub_id_97,hub_id_98,hub_id_99,collateral_Secured,collateral_Unsecured
0,0,27.0,0.0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
1,1,30.0,400000.0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
2,2,55.0,0.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,3,26.0,0.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,4,30.0,500000.0,1,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0

In [57]:
y_train=data['target']

In [58]:
X_train=data.drop(['target','total_disbursement_amount','Unnamed: 0'],axis=1)

In [60]:
y_train

0       0
1       1
2       0
3       0
4       1
       ..
2471    0
2472    1
2473    1
2474    1
2475    0
Name: target, Length: 2476, dtype: int64

In [61]:
X_train

,ManagAgeui_APP,business_type_,business_type_Manufacturing,business_type_Services,business_type_Trading,business_activity_Job Work,business_activity_Job Work & Sales,business_activity_Job Work and sales,business_activity_Retail,business_activity_Retail (Business to Business),...,hub_id_91,hub_id_92,hub_id_93,hub_id_94,hub_id_95,hub_id_97,hub_id_98,hub_id_99,collateral_Secured,collateral_Unsecured
0,27.0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,30.0,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
2,55.0,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,26.0,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
4,30.0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2471,49.0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2472,43.0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2473,28.0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2474,53.0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2475,28.0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [62]:
def sigmoid(z):
    """
    Compute the sigmoid of each value of X_train.
    """
    
    z = np.array(z,dtype=np.float128)
    
   
    g = np.zeros(z.shape)

  
    g=1/(1+np.exp(-z))
    

    return g

In [63]:
m, n = X_train.shape
#print(m,n)
# Adding intercept term to X_train 
X_train = np.concatenate([np.ones((m, 1)), X_train], axis=1)
# print(X_train.shape)

In [64]:
def computeCostMulti(X, y, theta):
    """
    Computing cost for logistic regression with multiple variables.
    Computing the cost, using theta as the parameter for logistic regression to fit the data points in X_tain and y_train.
    
    # Initialize some useful values"""
    
    m = y.shape[0] # number of training examples

    J=np.sum(((-y*np.log(sigmoid(np.dot(X,theta))))+(-(1-y)*np.log(1-sigmoid(np.dot(X,theta))))))/m
    #print(J)
    return J

In [65]:
def gradientDescentMulti(X, y, theta, alpha, num_iters):
    """
    Performs gradient descent to learn theta.
    Updates theta by taking num_iters gradient steps with learning rate alpha.
        
    """
    # Initialize some useful values
    m = y.shape[0] # number of training examples
    
    # make a copy of theta, which will be updated by gradient descent
    theta = theta.copy()
    
    J_history = []
    
    for i in range(num_iters):
       
        theta=theta-(alpha*((np.dot(((sigmoid(np.dot(X,theta))-y)),X))/m))
        
        J_history.append(computeCostMulti(X, y, theta))
    
    return theta, J_history

In [66]:

# Choose some alpha value - change this
alpha = 0.001
num_iters = 100

# init theta and run gradient descent
theta = np.zeros(n+1)
theta, J_history = gradientDescentMulti(X_train, y_train, theta, alpha, num_iters)

print(theta)
print("fbb",J_history)

[ 7.82136273e-04  4.98512294e-03  1.83979093e-05 -2.69809568e-03
  2.65547265e-05  3.43527932e-03  4.74861637e-04 -4.30388354e-04
  7.35620475e-05 -1.64770788e-03  3.34832817e-05 -2.83086106e-05
  2.43424571e-03 -1.46299125e-04  1.86875687e-05 -8.28385711e-05
  9.34997277e-05  4.90418592e-04 -1.44287420e-04 -2.60445959e-05
  5.26805201e-05 -7.74177028e-05 -1.91351806e-04 -1.23802009e-04
  6.22548010e-06  6.32834616e-05  2.17592582e-04 -2.67063140e-04
  3.67401550e-04 -5.49271015e-04 -3.70537496e-04 -1.37062172e-04
  1.29029986e-05 -1.09427432e-04  1.46814714e-04  1.91865714e-06
 -2.54912298e-05 -2.17201270e-05 -1.44026595e-05 -4.70168329e-05
 -3.42907909e-05  2.09411384e-06  9.12657952e-04  9.20623607e-05
 -6.58257543e-05 -2.97082401e-04  1.18264293e-04  3.30958455e-05
  4.35605989e-04 -7.49231439e-05  1.95643126e-05  2.80721282e-04
  9.51881404e-05  5.84116326e-04 -3.84659893e-03  2.79360462e-03
  1.25101425e-03  1.34018330e-03 -4.40628347e-03  3.84823643e-03
  1.10784275e-04  1.78674393e-04  2.40337983e-04  1.95100076e-04
  2.10835294e-04  1.10026644e-04  3.36384205e-04  1.93798511e-04
  2.14333225e-05  1.28884839e-04  5.79232856e-05 -1.15598427e-05
  2.53978064e-04  6.78104625e-05  3.49316988e-06  4.32523632e-05
 -1.90495155e-05 -9.44127531e-05  1.18125096e-04  3.51829741e-05
  1.43726265e-05  2.33461507e-04 -4.04525796e-05  2.88258238e-04
  4.51601245e-05 -1.74748572e-04  2.30722806e-04  7.02814430e-05
 -1.71080868e-05  8.50712541e-05  9.56618551e-05  3.46414509e-04
  2.66892731e-04 -1.16278404e-05 -6.00553630e-05 -2.04238685e-04
 -1.47419466e-04 -4.07185464e-05 -5.76930587e-05  1.06646826e-04
  4.12157024e-05 -2.41986722e-04 -4.07216935e-05  3.62412745e-05
 -5.64841166e-05 -6.16841383e-06  1.06898507e-04 -1.50034997e-04
  2.61970533e-05 -1.48373409e-04 -7.49493068e-05  1.78100574e-05
 -7.64075759e-06  6.86407092e-06 -2.24107863e-04 -5.10230183e-05
 -1.46651522e-04 -1.04966555e-04 -8.20412042e-05 -1.92091473e-05
 -4.47482819e-05 -8.31335057e-05 -1.23599623e-04 -1.64188649e-04
  2.14135900e-05 -7.06609815e-05  1.03050356e-04  9.72179381e-05
 -9.12189977e-05  2.44499758e-05 -1.02367380e-04  9.35367691e-07
  8.28788043e-05 -6.81755504e-05 -1.18013957e-05  4.54540288e-05
 -4.97510701e-05 -3.97566851e-05 -1.26529332e-04 -1.22421591e-04
  1.73643350e-05 -4.01673687e-05 -7.81803789e-05 -1.14759161e-04
 -5.59506708e-05 -3.49639882e-04 -5.23831502e-05 -7.29061221e-06
  8.25873235e-05  1.27563116e-05 -9.17383347e-03  9.95596974e-03]
fbb [0.6903134215985561911, 0.6892251868726248849, 0.6887953555224557894, 0.68861460456536272793, 0.6885284046443933626, 0.6884781944768495859, 0.68844171109212107956, 0.68841047175752474263, 0.6883812394622998864, 0.68835277775530476864, 0.68832461405167624563, 0.6882965676534458191, 0.68826856945146885745, 0.6882405930100217677, 0.6882126282154636367, 0.68818467119788373623, 0.6881567204759731533, 0.68812877548224634896, 0.6881008359988341943, 0.68807290194162784363, 0.68804497327769425634, 0.6880170499936798961, 0.6879891320837221784, 0.6879612195448244989, 0.6879333123750867918, 0.68790541057302859114, 0.68787751413733006644, 0.687849623066732965, 0.68782173736000272555, 0.6877938570159139919, 0.68776598203324507564, 0.68773811241077584136, 0.68771024814728689883, 0.68768238924155929625, 0.68765453569237440306, 0.68762668749851386544, 0.6875988446587595902, 0.68757100717189373833, 0.6875431750366987228, 0.68751534825195720785, 0.68748752681645210855, 0.6874597107289665909, 0.6874318999882840717, 0.68740409459318821867, 0.6873762945424629502, 0.6873484998348924356, 0.6873207104692610951, 0.68729292644435359963, 0.6872651477589548709, 0.6872373744118500815, 0.6872096064018246548, 0.68718184372766426504, 0.68715408638815483693, 0.68712633438208254634, 0.6870985877082338196, 0.68707084636539533383, 0.68704311035235401695, 0.6870153796678970476, 0.6869876543108118551, 0.68695993427988611936, 0.6869322195739077711, 0.68690451019166499165, 0.6868768061319462131, 0.6868491073935401181, 0.6868214139752356399, 0.68679372587582196246, 0.6867660430940885203, 0.68673836562882499866, 0.68671069347882133317, 0.68668302664286771025, 0.6866553651197545666, 0.6866277089082725899, 0.686600058007212718, 0.6865724124153661396, 0.6865447721315242935, 0.6865171371544788694, 0.68648950748302180744, 0.6864618831159452981, 0.6864342640520417823, 0.6864066502901039517, 0.6863790418289247482, 0.6863514386672973641, 0.6863238408040152423, 0.68629624823787207594, 0.68626866096766180877, 0.6862410789921786348, 0.6862135023102169983, 0.6861859309205715942, 0.68615836482203736754, 0.6861308040134095138, 0.6861032484934834789, 0.6860756982610549588, 0.68604815331491989997, 0.68602061365387449917, 0.68599307927671520344, 0.68596555018223871004, 0.68593802636924196644, 0.6859105078365221705, 0.6858829945828767702, 0.68585548660710346383]

In [67]:

print(computeCostMulti(X_train, y_train, theta))

0.68585548660710346383

In [70]:
print(computeCostMulti(X_train, y_train, theta))

0.68585548660710346383

In [73]:
def predict(theta, X):
    """
    Predict whether the label is 0 or 1 using learned logistic regression.
    """
    m = X.shape[0] # Number of training examples

    # You need to return the following variables correctly
    p = np.zeros(m)

    # ====================== YOUR CODE HERE ======================
    p = sigmoid(np.dot(X, theta))
#     print(p)
    p[np.where(p>=0.5)] = 1
    p[np.where(p<0.5)] = 0
#     print(p)
   
    # ============================================================
    return p


p = predict(theta, X_train)
print(np.mean(p == y_train)*100)

55.290791599353796

In [ ]:
predict(theta, X_train)