In [2]:
import pandas as pd
import numpy as np
%matplotlib inline
import sqlalchemy

In [3]:
#creating sql engine to run sql in jupyter
sqlalchemy.create_engine('sqlite:///kinara_assessment_20190807.db')

Engine(sqlite:///kinara_assessment_20190807.db)

In [4]:
%load_ext sql

In [5]:
# connecting database
%sql sqlite:///kinara_assessment_20190807.db

In [6]:
# getting total count of files
tot_cnt_ln_inf = %sql select count(*) from loan_information;

tot_cnt_ent_Inf =%sql select count(*) from enterprise_information;

tot_cnt_score_inf = %sql select count(*) from scores_information;

tot_dis_inf = %sql select count(*) from disbursement_information;

print(tot_cnt_ln_inf)
print(tot_cnt_ent_Inf)
print(tot_cnt_score_inf)
print(tot_dis_inf)

 * sqlite:///kinara_assessment_20190807.db
Done.
 * sqlite:///kinara_assessment_20190807.db
Done.
 * sqlite:///kinara_assessment_20190807.db
Done.
 * sqlite:///kinara_assessment_20190807.db
Done.
+----------+
| count(*) |
+----------+
|   2476   |
+----------+
+----------+
| count(*) |
+----------+
|   2476   |
+----------+
+----------+
| count(*) |
+----------+
|   2476   |
+----------+
+----------+
| count(*) |
+----------+
|   2476   |
+----------+

In [7]:
# creating disbursement files with non null values before join


%%sql 
CREATE TABLE disbursement_information_nonull AS 
SELECT * FROM disbursement_information where account_number IS NOT NULL;

SyntaxError: invalid syntax (<ipython-input-7-b715369003ac>, line 5)